MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_USERNAME=root
MONGO_PASSWORD=changeme
MONGO_AUTH_SOURCE=admin
MONGO_DATABASE=raw_scryfall
MONGO_COLLECTION=cards
MONGO_CONTAINER_NAME=raw-mongo
MONGO_IMPORT_MOUNT_PATH=/import

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=raw_scryfall

PIPELINE_BATCH_SIZE=1000
SCRYFALL_BULK_DATA_URL=https://api.scryfall.com/bulk-data